<div class="app-card-container">
  <div class="card">

    <h2>About Me</h2>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "Profile.jpg", width: 300, alt: "Profile Image", class: 'profile-img' %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated bg-info %>"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>A free lancer who enjoys developing software.  Whenever I begin a new project it is a personal goal of mine to
          deliver not only a well crafted project but also fully communicate each stage of development with my clients. </p>

        <p>I believe that developing a program from scratch is like watching a child grow.  I therefore ensure that I take
          the best steps possible to build a proper foundation, so as to include versatility and adaptability to suit users
          needs.  It is my mission to deliver a robust, healthy, fully functional app and leave the customer satisfied.
        </p>

        <%= render 'pages/about_buttons' %>
        <%= render 'pages/about_education' %>
        <%= render 'pages/about_job_history' %>

      </div>
    </div>

  </div>
</div>




