<div class="app-card-container">
  <div class="card">

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "Profile.jpg", width: 300, alt: "Profile Image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">

        <h1>Full Stack Web Developer</h1>
        <hr>
        <p>A free lancer who enjoys developing software.  Whenever I begin a new project it is a personal goal of mine to
          deliver not only a well crafted project but also fully communicate each stage of development with my clients. </p>

        <p>I believe that developing a program from scratch is like watching a child grow.  I therefore ensure that I take
          the best steps possible to build a proper foundation, so as to include versatility and adaptability to suit users
          needs.  It is my mission to deliver a robust, healthy, fully functional app and leave the customer satisfied.
        </p>

        <%= render 'pages/about_buttons' %>
        <%= render 'pages/about_job_history' %>
        <%= render 'pages/about_education' %>
        <%= render 'pages/about_skills' %>
      </div>
    </div>
  </div>
</div>





